<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome new Company</title>
</head>
<body>
  <h1>Hello, Company {{ name }}</h1>
  <p>Welcome to IT viec</p>
  <p>Your email: {{ email }} </p>
  <p>Your Company: {{ company }} </p>
</body>
</html>